<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.dao.ChargeprojectMapper">
    <resultMap id="BaseResultMap" type="com.kkb.bean.Chargeproject">
        <id column="chaP_id" jdbcType="INTEGER" property="chapId"/>
        <result column="chaP_name" jdbcType="VARCHAR" property="chapName"/>
        <result column="chaP_money" jdbcType="DECIMAL" property="chapMoney"/>
        <result column="chaP_stime" javaType="DATE" property="chapStime"/>
    </resultMap>


    <resultMap id="chargeMap" type="com.kkb.vo.hospzation.resp.BeHospitalChargeResp">
        <id column="chaP_id" jdbcType="INTEGER" property="chapId"/>
        <result column="chaP_name" jdbcType="VARCHAR" property="chapName"/>
        <result column="chaP_money" jdbcType="DECIMAL" property="chapMoney"/>
        <result column="beH_id" property="behId"/>
        <result column="chaP_stime" javaType="DATE" property="chapStime"/>
    </resultMap>


    <select id="selectPrice" resultMap="chargeMap">
        SELECT pricepeople.chaP_id,
               chaP_name,
               chaP_money,
               beH_id
        FROM pricepeople,
             chargeproject
        WHERE pricepeople.beH_id = #{id}
          AND pricepeople.chaP_id = chargeproject.chaP_id
    </select>

    <!--查重-->
    <select id="selectByChapName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chargeproject
        where
        state = 0
        AND
        chaP_name = #{chapName}
    </select>


    <select id="selectByChapId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chargeproject
        where
        state = 0
        AND
        chaP_id = #{chapId}
    </select>


    <sql id="Base_Column_List">
        chaP_id
        , chaP_name, chaP_money,chaP_stime
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chargeproject
        where
        state = 0
        <if test="chapName != null and chapName != ''">
            AND chaP_name like concat('%',#{chapName},'%')
        </if>
    </select>


    <!--删除-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update chargeproject
        <set>
            state = 1
        </set>
        where chaP_id = #{chapId}
    </update>


    <insert id="insert" parameterType="com.kkb.bean.Chargeproject">
        insert into chargeproject (chaP_id, chaP_name, chaP_money)
        values (#{chapId,jdbcType=INTEGER}, #{chapName,jdbcType=VARCHAR}, #{chapMoney,jdbcType=DECIMAL})
    </insert>


    <insert id="insertSelective" parameterType="com.kkb.bean.Chargeproject">
        insert into chargeproject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapId != null">
                chaP_id,
            </if>
            <if test="chapName != null">
                chaP_name,
            </if>
            <if test="chapMoney != null">
                chaP_money,
            </if>
            <if test="chapStime != null">
                chaP_Stime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapId != null">
                #{chapId,jdbcType=INTEGER},
            </if>
            <if test="chapName != null">
                #{chapName,jdbcType=VARCHAR},
            </if>
            <if test="chapMoney != null">
                #{chapMoney,jdbcType=DECIMAL},
            </if>
            <if test="chapStime != null">
                #{chapStime},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.kkb.bean.Chargeproject">
        update chargeproject
        <set>
            <if test="chapName != null">
                chaP_name = #{chapName,jdbcType=VARCHAR},
            </if>
            <if test="chapMoney != null">
                chaP_money = #{chapMoney,jdbcType=DECIMAL},
            </if>
        </set>
        where chaP_id = #{chapId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kkb.bean.Chargeproject">
        update chargeproject
        set chaP_name  = #{chapName,jdbcType=VARCHAR},
            chaP_money = #{chapMoney,jdbcType=DECIMAL}
        where chaP_id = #{chapId,jdbcType=INTEGER}
    </update>
</mapper>