<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        table {border-collapse: collapse; font-size: 14px; width: 80%; margin: auto}
        table, th, td {border: 1px solid darkslategray;padding: 10px}
    </style>
</head>
<body>
<span style="color: darkslategray; font-size: 30px">欢迎光临！</span>
<hr/>
    <table class="list">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>用户名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>生日</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <tr th:each="user,status:${users}" th:object="${user}"  th:bgcolor="${status.even} ? '#f5f5dc' ">
            <td th:text="${status.count}">1</td>
            <td th:text="*{name}">张三</td>
            <td th:text="*{userName}">zhangsan</td>
            <td th:text="${user.age}">18</td>
            <td th:text="${user.sex} == 1 ? '男': '女'">男</td>
            <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}">1980-02-30</td>
            <td th:text="${user.note}">1</td>
            <td>
                <a th:href="@{/delete(${user.id},${user.userName})}">删除</a>
                <a th:href="|/update/${user.id}|">修改</a>
                <a th:href="'/approve/'+${user.id}">审核</a>
            </td>

        </tr>
    </table>

<div>
    <h5>if指令</h5>
    <a th:if="${users.size() > 0}">查询结果存在</a><br>
    <a th:if="${users.size() <= 0}">查询结果不存在</a><br>
    <a th:unless="${session.user != null}" href="#">登录</a><br>
</div>
<h6 th:text="${text}">静态内容</h6>
<h4>内联文本</h4>
<div>
    <h5 th:inline="text">[[${text}]]</h5>
    <h5 th:inline="none">[[${text}]]</h5>
    <h5 >[[${text}]]</h5>
</div>


<h5>内联js</h5>
<script th:inline="javascript">
    /*<![CDATA[*/
    var text = '[[${text}]]';
    //alert(text);
    /*]]>*/
</script>


<h5>内置变量</h5>
<h6 th:text="${#dates.createNow()}">获取当前日期</h6>
<h6 th:text="${#strings.substring(text, 6, 9)}">截取字符串</h6>
<h6 th:text="${#strings.length(text)}">获得长度</h6>
<h6 th:text="${#strings.randomAlphanumeric(6)}">随机字符串</h6>
<h6 th:text="${#strings.equals(text, 'hello text....')}"></h6>

<h5>thymeleaf布局</h5>
<div th:insert="footer :: copy('战三')"></div>
<div th:replace="footer :: copy('李飒')"></div>
<div th:include="footer :: copy('王哲')"></div>

</body>
</html>